.header {
    text-align: right;
    z-index: 3;
    position: relative;
    padding-top: 20px;

    @include breakpoint(mobile) {
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;

        text-align: left;
    }

}

.header--over {
    position: absolute;
    top: 0;
    width: 100%;
}

.header-nav {
    font-family: $f-thin;
}

.header-nav__item {
    margin-left: 20px;
    color: $white;

    @include rem(14px);
    a {
        color: $white;
    }

    @include breakpoint(mobile) {
        margin-left: 0;
        margin-right: 20px;
    }
}