.quote {
    text-align: center;
    background: $blue;
    padding-top: 40px;
    padding-bottom: 40px;
}
    .quote__desc {
        font-style: italic;
        @include rem(24px);
        color: $white;
        line-height: 1.5;
        font-family: open_sansitalic;
    }

    .quote__author {
        margin-top: 16px;
        a {
            text-decoration: none;
            color: $white;
            font-weight: 100;
        }

        span {
            font-weight: 900;
        }
    }