@charset "UTF-8";

/*-----------------------------------------

    Prefix for box-sizing

    @author Ashley Banks <ashley@d3r.com>

-------------------------------------------*/

@font-face {
  font-family: 'montserratbold';
  src: url("/fonts/montserrat-bold-webfont.eot");
  src: url("/fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat-bold-webfont.woff2") format("woff2"), url("/fonts/montserrat-bold-webfont.woff") format("woff"), url("/fonts/montserrat-bold-webfont.ttf") format("truetype"), url("/fonts/montserrat-bold-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratregular';
  src: url("/fonts/montserrat-regular-webfont.eot");
  src: url("/fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat-regular-webfont.woff2") format("woff2"), url("/fonts/montserrat-regular-webfont.woff") format("woff"), url("/fonts/montserrat-regular-webfont.ttf") format("truetype"), url("/fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratultra_light';
  src: url("/fonts/montserrat-ultralight-webfont.eot");
  src: url("/fonts/montserrat-ultralight-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat-ultralight-webfont.woff2") format("woff2"), url("/fonts/montserrat-ultralight-webfont.woff") format("woff"), url("/fonts/montserrat-ultralight-webfont.ttf") format("truetype"), url("/fonts/montserrat-ultralight-webfont.svg#montserratultra_light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrathairline';
  src: url("/fonts/montserrat-hairline-webfont.eot");
  src: url("/fonts/montserrat-hairline-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat-hairline-webfont.woff2") format("woff2"), url("/fonts/montserrat-hairline-webfont.woff") format("woff"), url("/fonts/montserrat-hairline-webfont.ttf") format("truetype"), url("/fonts/montserrat-hairline-webfont.svg#montserrathairline") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*------------------------------*
	Grid Specific Settings

--------------------------------*/

/*----------------------------*
	Typography Settings

-------------------------------*/

.l-full,
.l-three-thirds,
.l-four-quarters,
.l-five-fifths,
.l-six-sixths,
.l-ten-tenths,
.l-twelve-twelfths {
  width: 100%;
}

.l-eleven-twelfths {
  width: 91.6666666667%;
}

.l-nine-tenths {
  width: 90%;
}

.l-five-sixths,
.l-ten-twelfths {
  width: 83.3333333333%;
}

.l-four-fifths,
.l-eight-tenths {
  width: 80%;
}

.l-three-quarters,
.l-nine-twelfths {
  width: 75%;
}

.l-seven-tenths {
  width: 70%;
}

.l-two-thirds,
.l-four-sixths,
.l-eight-twelfths {
  width: 66.6666666667%;
}

.l-three-fifths,
.l-six-tenths {
  width: 60%;
}

.l-seven-twelfths {
  width: 58.3333333333%;
}

.l-one-half,
.l-two-quarters,
.l-three-sixths,
.l-five-tenths {
  width: 50%;
}

.l-five-twelfths {
  width: 41.6666666667%;
}

.l-two-fifths,
.l-four-tenths {
  width: 40%;
}

.l-one-third,
.l-two-sixths,
.l-four-twelfths {
  width: 33.3333333333%;
}

.l-three-tenths {
  width: 30%;
}

.l-one-quarter,
.l-three-twelfths {
  width: 25%;
}

.l-one-fifth,
.l-two-tenths {
  width: 20%;
}

.l-one-sixth,
.l-two-twelfths {
  width: 16.6666666667%;
}

.l-one-tenth {
  width: 10%;
}

.l-one-twelfth {
  width: 8.3333333333%;
}

.l-leftcol {
  margin-bottom: 30px;
  float: left;
  padding: 0 20px 0 0;
  margin-right: 20px;
}

.l-rightcol {
  margin-bottom: 30px;
  float: right;
  padding: 0 0 0 20px;
  margin-left: 20px;
}

.l-leftcol + .l-rightcol {
  margin-left: 0px;
}

.l-right + .l-leftcol {
  margin-right: 0px;
}

.l-onecol {
  width: auto;
  float: none;
  padding: 0;
  margin: 0 0 30px;
}

@media screen and (max-width: 1023px) {
  .m-full,
  .m-three-thirds,
  .m-four-quarters,
  .m-five-fifths,
  .m-six-sixths,
  .m-ten-tenths,
  .m-twelve-twelfths {
    width: 100%;
  }

  .m-eleven-twelfths {
    width: 91.6666666667%;
  }

  .m-nine-tenths {
    width: 90%;
  }

  .m-five-sixths,
  .m-ten-twelfths {
    width: 83.3333333333%;
  }

  .m-four-fifths,
  .m-eight-tenths {
    width: 80%;
  }

  .m-three-quarters,
  .m-nine-twelfths {
    width: 75%;
  }

  .m-seven-tenths {
    width: 70%;
  }

  .m-two-thirds,
  .m-four-sixths,
  .m-eight-twelfths {
    width: 66.6666666667%;
  }

  .m-three-fifths,
  .m-six-tenths {
    width: 60%;
  }

  .m-seven-twelfths {
    width: 58.3333333333%;
  }

  .m-one-half,
  .m-two-quarters,
  .m-three-sixths,
  .m-five-tenths {
    width: 50%;
  }

  .m-five-twelfths {
    width: 41.6666666667%;
  }

  .m-two-fifths,
  .m-four-tenths {
    width: 40%;
  }

  .m-one-third,
  .m-two-sixths,
  .m-four-twelfths {
    width: 33.3333333333%;
  }

  .m-three-tenths {
    width: 30%;
  }

  .m-one-quarter,
  .m-three-twelfths {
    width: 25%;
  }

  .m-one-fifth,
  .m-two-tenths {
    width: 20%;
  }

  .m-one-sixth,
  .m-two-twelfths {
    width: 16.6666666667%;
  }

  .m-one-tenth {
    width: 10%;
  }

  .m-one-twelfth {
    width: 8.3333333333%;
  }

  .m-leftcol {
    margin-bottom: 30px;
    float: left;
    padding: 0 20px 0 0;
    margin-right: 20px;
  }

  .m-rightcol {
    margin-bottom: 30px;
    float: right;
    padding: 0 0 0 20px;
    margin-left: 20px;
  }

  .m-leftcol + .m-rightcol {
    margin-left: 0px;
  }

  .m-right + .m-leftcol {
    margin-right: 0px;
  }

  .m-onecol {
    width: auto;
    float: none;
    padding: 0;
    margin: 0 0 30px;
  }
}

@media screen and (max-width: 580px) {
  .s-full,
  .s-three-thirds,
  .s-four-quarters,
  .s-five-fifths,
  .s-six-sixths,
  .s-ten-tenths,
  .s-twelve-twelfths {
    width: 100%;
  }

  .s-eleven-twelfths {
    width: 91.6666666667%;
  }

  .s-nine-tenths {
    width: 90%;
  }

  .s-five-sixths,
  .s-ten-twelfths {
    width: 83.3333333333%;
  }

  .s-four-fifths,
  .s-eight-tenths {
    width: 80%;
  }

  .s-three-quarters,
  .s-nine-twelfths {
    width: 75%;
  }

  .s-seven-tenths {
    width: 70%;
  }

  .s-two-thirds,
  .s-four-sixths,
  .s-eight-twelfths {
    width: 66.6666666667%;
  }

  .s-three-fifths,
  .s-six-tenths {
    width: 60%;
  }

  .s-seven-twelfths {
    width: 58.3333333333%;
  }

  .s-one-half,
  .s-two-quarters,
  .s-three-sixths,
  .s-five-tenths {
    width: 50%;
  }

  .s-five-twelfths {
    width: 41.6666666667%;
  }

  .s-two-fifths,
  .s-four-tenths {
    width: 40%;
  }

  .s-one-third,
  .s-two-sixths,
  .s-four-twelfths {
    width: 33.3333333333%;
  }

  .s-three-tenths {
    width: 30%;
  }

  .s-one-quarter,
  .s-three-twelfths {
    width: 25%;
  }

  .s-one-fifth,
  .s-two-tenths {
    width: 20%;
  }

  .s-one-sixth,
  .s-two-twelfths {
    width: 16.6666666667%;
  }

  .s-one-tenth {
    width: 10%;
  }

  .s-one-twelfth {
    width: 8.3333333333%;
  }

  .s-leftcol {
    margin-bottom: 30px;
    float: left;
    padding: 0 20px 0 0;
    margin-right: 20px;
  }

  .s-rightcol {
    margin-bottom: 30px;
    float: right;
    padding: 0 0 0 20px;
    margin-left: 20px;
  }

  .s-leftcol + .s-rightcol {
    margin-left: 0px;
  }

  .s-right + .s-leftcol {
    margin-right: 0px;
  }

  .s-onecol {
    width: auto;
    float: none;
    padding: 0;
    margin: 0 0 30px;
  }
}

.grid {
  position: relative;
  margin: -15px;
  display: block;
  font-size: 0;
  text-align: center;
  box-sizing: border-box;
}

.grid > * {
  font-size: 16px;
  font-size: 1rem;
  box-sizing: border-box;
  display: inline-block;
  padding: 15px;
  vertical-align: top;
}

.grid--tight > * {
  padding: 0;
}

.grid--push {
  margin-top: 40px;
}

@media screen and (max-width: 580px) {
  .grid--push {
    margin-top: 0;
  }
}

/**
 * Titles
 */

.title {
  margin-top: 0;
  font-family: montserratbold;
  letter-spacing: 1;
}

.title--primary {
  font-size: 42px;
  font-size: 2.625rem;
}

.title--secondary {
  font-size: 32px;
  font-size: 2rem;
}

.title--secondary-sub {
  font-size: 22px;
  font-size: 1.375rem;
}

.title--explain {
  font-size: 18px;
  font-size: 1.125rem;
  font-family: open_sanslight;
}

.title--inverted {
  color: #fff;
}

/**
 * Body Copy
 */

.body {
  font-family: montserratultra_light;
  font-size: 18px;
  font-size: 1.125rem;
}

.body-wrap {
  width: 60%;
  margin: auto;
  line-height: 1.4;
}

.body--inverted {
  color: #fff;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-y: scroll;
  min-height: 100%;
}

body {
  font-family: montserratultra_light, Helvetica, Arial;
  padding: 0;
  margin: 0;
  letter-spacing: 0.03em;
  -webkit-text-size-adjust: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.outer-wrapper {
  background: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  background: #30373b;
  color: white;
  font-family: montserratregular;
}

table td,
table th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.input {
  border: 1px solid #e5e5e5;
  height: 3em;
  padding: 0.8em;
  color: #30373b;
  width: 100%;
  font-size: 16px;
  font-size: 1rem;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
}

select {
  width: 100%;
}

/**
 * Form Element
 */

.field {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 16px;
}

.field label {
  font-size: 20px;
  font-size: 1.25rem;
  display: block;
  color: #30373b;
  margin-bottom: 10px;
}

.field--radio label {
  display: inline-block;
}

.field--inline {
  width: 50%;
  display: inline-block;
  text-align: center;
}

.field-group {
  font-size: 0;
}

a {
  text-decoration: none;
  color: #30373b;
}

del {
  position: relative;
  text-decoration: none;
}

del:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: red;
  -webkit-transform: rotate(-7deg);
  transform: rotate(-7deg);
}

.strike-through {
  color: red;
  font-weight: bold;
}

.navigation {
  list-style: none;
  margin-left: 0;
  margin: 0;
  text-align: center;
  display: inline-block;
}

.navigation:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden;
}

.navigation > li,
.navigation > li > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

@media screen and (max-width: 580px) {
  .navigation {
    padding: 0;
  }
}

.navigation--left {
  text-align: left;
}

.navigation--right {
  text-align: right;
}

.navigation--block {
  margin-top: 14px;
  text-align: left;
  padding: 0;
}

.navigation--block > li,
.navigation--block > li > a {
  display: block;
}

.button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  letter-spacing: 0.02em;
  padding: 16px;
  display: inline-block;
  letter-spacing: 1.2;
  width: 100%;
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
}

.button:hover {
  transition: 0.1s ease-in;
}

@media screen and (max-width: 580px) {
  .button {
    min-width: 100%;
    text-align: center;
  }
}

.button--trans {
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}

.button--trans:hover {
  background: #fff;
  color: #30373b;
}

.button--trans-invert {
  color: #30373b;
  background: #fff;
}

.button--trans-invert:hover {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  color: #fff;
}

.button--submit {
  background: #7ab55c;
}

.button--submit:hover {
  background: #97c57f;
}

blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  font-size: 90px;
  font-size: 5.625rem;
  font-family: Arial;
}

blockquote p {
  display: inline;
}

blockquote p:after {
  color: #ccc;
  content: close-quote;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.6em;
  font-size: 90px;
  font-size: 5.625rem;
  font-family: Arial;
}

.hoz-rule {
  width: 100%;
  height: 1px;
  border: none;
  background: #e5e5e5;
  margin-top: 40px;
  margin-bottom: 40px;
}

.profile__image {
  border-radius: 50%;
  width: 200px;
  border: 6px solid #e5e5e5;
}

.listing-group {
  margin-top: 100px;
}

.listing-block {
  text-align: left;
  margin-bottom: 60px;
}

.listing-block__icon {
  width: 100px;
  margin-bottom: 20px;
}

.header {
  text-align: right;
  z-index: 3;
  position: relative;
  padding-top: 20px;
}

@media screen and (max-width: 580px) {
  .header {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
  }
}

.header--over {
  position: absolute;
  top: 0;
  width: 100%;
}

.header-nav {
  font-family: montserrathairline;
}

.header-nav__item {
  margin-left: 20px;
  color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
}

.header-nav__item a {
  color: #fff;
}

@media screen and (max-width: 580px) {
  .header-nav__item {
    margin-left: 0;
    margin-right: 20px;
  }
}

.section {
  padding: 40px 0;
  text-align: center;
  border-color: #e5e5e5;
  position: relative;
  display: block;
  overflow: hidden;
}

.section--push {
  margin-top: 100px;
}

.section--tight {
  padding: 20px;
}

.section--push-bottom {
  margin-bottom: 100px;
}

.section--bordered-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.section--bordered-top {
  border-top-style: solid;
  border-top-width: 4px;
}

.section--dark {
  color: #fff;
  background-color: #222;
}

.section__content--left-align {
  text-align: left;
  line-height: 1.4;
}

.intro {
  background: url("/images/intro-image.jpeg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  height: 100vh;
  color: #fff;
  padding: 40px;
}

.intro:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

@media screen and (max-width: 580px) {
  .intro {
    padding: 10px;
  }
}

.intro__title {
  font-size: 64px;
  font-size: 4rem;
  width: 100%;
  margin-bottom: 0;
  line-height: 1;
  letter-spacing: 0.08em;
  font-family: montserratregular;
}

@media screen and (max-width: 580px) {
  .intro__title {
    font-size: 60px;
    font-size: 3.75rem;
  }
}

.intro__sub-title {
  width: 70%;
  margin-top: 20px;
  letter-spacing: 1.6;
  line-height: 1.4;
  font-size: 20px;
  font-size: 1.25rem;
}

@media screen and (max-width: 580px) {
  .intro__sub-title {
    width: 100%;
  }
}

.intro__cta {
  margin-top: 20px;
  margin-right: 10px;
}

/**
 * Content wrap
 */

.intro-content {
  z-index: 3;
  position: relative;
  text-align: left;
}

/**
 * Intro Form
 */

.intro-form {
  position: relative;
  z-index: 3;
  padding: 20px;
  margin-top: 40px;
  border-radius: 3px;
  background: white;
  box-shadow: 0px 2px 5px 0px black;
}

.wrap {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  display: block;
}

.wrap--pull {
  margin-top: -400px;
}

.services {
  background-image: url("/images/tmp/background-services.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #555;
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
}

.service {
  display: inline-block;
  width: 120px;
}

.service--inline {
  vertical-align: middle;
  width: 80px;
}

/**
 * Services in list form
 */

.service-list-wrap {
  width: 100%;
  margin: auto;
  margin-top: 60px;
}

.service-list {
  list-style-type: none;
  font-family: montserratultra_light;
}

.service-list li {
  text-align: left;
  margin-bottom: 20px;
}

.service-list li:before {
  content: "-";
  margin-left: -20px;
  position: absolute;
}

.blog {
  border: 1px solid red;
  width: 100%;
}

.blog-item {
  text-align: left;
  padding: 10px;
  border: 1px solid red;
}

.chart-wrap {
  margin-top: 40px;
  margin-bottom: 40px;
}

.chart {
  width: 100%;
  text-align: center;
  padding-top: 0.4em;
  padding-bottom: 0;
}

.chart__item-wrap {
  position: relative;
  display: inline-block;
  width: 7.6%;
  height: auto;
}

@media screen and (max-width: 580px) {
  .chart__item-wrap {
    width: 6%;
    height: 20px;
  }
}

.chart__item-wrap:hover > .chart__info {
  display: block;
}

.chart__info {
  position: absolute;
  border: 1px solid #30373b;
  background: #30373b;
  border-radius: 3px;
  padding: 10px;
  top: -40px;
  color: #fff;
  font-family: montserrathairline;
  font-style: normal;
  font-size: 12px;
  font-size: 0.75rem;
  left: 0;
  display: none;
}

.chart__item {
  margin-bottom: 0;
  margin-top: 0;
  opacity: 0.5;
  cursor: help;
  position: relative;
  width: 100%;
  display: block;
  height: 60px;
}

.chart__item:hover {
  transition: 0.5s ease-in;
  opacity: 1;
}

.chart__item--go {
  background-color: #3f990f;
}

.chart__item--steady {
  background-color: #ea6c00;
}

.chart__item--ready {
  background-color: #9f102e;
}

/**
 * Tabs
 */

.tabs > div {
  display: none;
}

.tabs > .active {
  display: block;
}

.job-list {
  border: 2px solid #46494C;
  margin-top: 40px;
}

.job-item {
  padding: 10px;
}

.job-item:nth-child(even) {
  background: #e5e5e5;
}

.job-item__title {
  margin: 0;
}

.hide {
  display: none;
}

.s-display {
  display: none;
}

@media screen and (max-width: 580px) {
  .s-display {
    display: block;
  }
}