// $dark-grey: #46494C;
// $grey: #C5C3C6;
// $light-grey: #DCDCDD;
// $green: #87D68D;
// $green--alt: #98DFAF;

// $orange: #F18F01;
$red: #D52941;

// Brand
$black: #30373b;

// $green: #97D5A4;
$green: #79AD59;
$white: #fff;

$orange: #ebb129;
$orange--dark: darken($orange, 10%);

$dark-grey: #46494C;
$light-grey: #e5e5e5;

$blue: #606c7e;

$green: #7ab55c;