/*------------------------------*\

	Grid Specific Settings

--------------------------------*/

$grid-gutter-h: 30px;
$grid-gutter-v: 30px;
$grid-gutter: 30px;

$grid--tight-gutter-h: 16px;
$grid--tight-gutter-v: 16px;

$grid-gutter-x: 20px;
$grid-gutter-y: 40px;