blockquote {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";

    &:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
        @include rem(90px);
        font-family: Arial;
    }

    p {
        display: inline;

        &:after {
            color: #ccc;
            content: close-quote;
            line-height: 0.1em;
            margin-right: 0.25em;
            vertical-align: -0.6em;
            @include rem(90px);
            font-family: Arial;
        }
    }
}