.navigation {
    list-style: none;
    margin-left: 0;
    margin: 0;
    text-align: center;
    display: inline-block;

    @include clearfix;

    > li {

        &,
        > a{
            display: inline-block;
           *display: inline;
            zoom: 1;
        }
    }

    @include breakpoint(mobile) {
        padding: 0;
    }
}

.navigation--left {
    text-align: left;
}

.navigation--right {
    text-align: right;
}

.navigation--block {
    margin-top: 14px;
    text-align: left;
    padding: 0;

    > li {
        &,
        > a{
            display: block;
        }
    }
}